@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav
{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img
{
    width: 16rem;
    margin-left: 4rem;
    display: inline;
}
.right
{
    margin-right: 4rem;
    display: flex;
}
.right button
{
    margin-right: 2rem;
}
.signinbutton
{
    
    display: inline;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #e50914;
    color: #fff;
}
.signinbutton:hover
{
    background: #c11119;
}

.section-1
{
    background-image: url('./assets/background_image.jpg');
    background-size: cover;
    height: 84vh;
    color: white;
    margin-bottom:0.5rem;
}
.section-1 .subsection
{
    background: rgba(0, 0, 0, 0.7);
    height: 580vh;
    z-index: -1;
}
.section-1 .sec-1_1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:90px;
}
.section-1 h1
{
    font-size: 3.8rem;
    max-width: 69rem;
    text-align: center;
    font-family :'Roboto';
    font-weight: bolder;
    margin-bottom: 1rem;
}
.sec-1_1 p
{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 2rem;
}
.sec-1_2
{
   margin-left: 19rem ;
}
.input-container {
    position: relative;
    margin: 90px;
  }
  
  label {
    position: absolute;
    top: 15px;
    left: 1rem;
    display: inline;
    font-size: 2rem;
    color: #ffff;
    transition: 0.2s;
  }
  
.input-container input[type=text] {
    width: 43%;
    height: 4.2rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background: black;
    color: #ffff;
    font-size: 1.3rem;
  }
  input[type=text]:focus
  {
    border: 1px solid blue;
  }

  input:focus + label, input:valid + label {
    top: -1px;
    font-size: 1.5rem;
    color: #ffff;
  }
  .getstart
{
    
    display: inline;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 22px 20px;
    font-size: 1.5rem;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #e50914;
    color: #fff;
}
.getstart:hover
{
    background: #c11119;
}
.section-2
{
    background: black;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.section-2 .sec-2_1 h2
{
    font-size: 3.8rem;
    text-align: center;
    font-family :'Roboto';
    font-weight: bolder;
    margin-bottom: 1rem;
    margin-left: -4rem;
}
.section-2 .sec-2_1 h5
{
    font-size: 1.8rem;
    margin-left: 5rem;
    max-width:36rem;

}

.section-3
{
    background: black;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.sec-3_1 img
{
    margin-left: 6rem;
}
.section-3 .sec-3_2 h2
{
    font-size: 3.8rem;
   
    font-family :'Roboto';
    font-weight: bolder;
    margin-bottom: 1rem;
    margin-right: 8rem;
}
.section-3 .sec-3_2 h5
{
    font-size: 1.8rem;
    max-width:36rem;

}
.collapsible {
    background-color: #2d2d2d;
    color: white;
    cursor: pointer;
    padding: 18px;
    margin: 2rem 12rem;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s;
  }
  
  .collapsible:hover {
    background-color: #414141;
  }
  
  .faq {
    padding: 2rem;
    background: black;
    color: #fff;
  }
  
  .faq h2 {
    font-size: 3.8rem;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bolder;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .content {
    margin-left: 12rem;
    margin-top: -1.9rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    max-width: 56.2rem;
    padding: 1rem;
    background: #2d2d2d;
    color: white;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    display: none;
  }
.sec-foot
{
    margin: 3rem 14rem;
    font-size: 1.7rem;
}
footer
{
    margin-top: .5rem;
    background: black;
    color: gray;
    padding: 2rem
}
.foots
{
    padding: 3rem;
    display: flex;
    justify-content: space-around;
}
a
{
    color: #ccc;
    margin-top: 1rem;
}
.foots1, .foots2, .foots3, .foots4
{
    display: flex;
    flex-direction: column;
    
}
.foots1_1
{
    margin-top: 2rem;
    display: flex;
    
}
select
{
    margin-bottom: 2rem;
    width: 7rem;
    height: 2rem;
    background: #0f0f0f;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}
.custom-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .selected-option {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .option {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }
  
  .option:hover {
    background: #f0f0f0;
  }
.Mybutton
{
    display: inline-flex;
    align-items:center ;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 9px;
}  
.Mybutton:hover
{
    background: #414141;
}